<div class="container padding-bottom-3x mb-2 mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <div class="forgot" style="background-color: #4b0082 ;color: #fff;">
        <h2>Forgot your password?</h2>
        <p>
          Change your password in three easy steps. This will help you to secure
          your password!
        </p>
        <ol class="list-unstyled" >
          <li>
            <span class=" text-medium">1. </span>Enter your unique
            username below.
          </li>
          <li>
            <span class=" text-medium">2. </span>Our system will
            send you a temporary password on your email.
          </li>
          <li>
            <span class=" text-medium">3. </span>Use temporary password to login and  to reset
            your password.
          </li>
        </ol>
      </div>

      <form class="card mt-4">
        <div class="card-body">
          <div class="form-group">
            <label for="email-for-pass">Enter your username </label><br>
            <input
              type="text"
              name="username"
              required="required"
              [(ngModel)]="username"
            /><div *ngIf="loading" class="spinner-grow ml-3" style="color: #4b0082;" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <small class="form-text text-muted"
              >Enter the username you used during the registration. Then we'll
              email a otp to this address.</small
            >
          </div>
        </div>
        <div class="card-footer">
          <button
            class="btn"
            type="submit"
            (click)="onClick()"
            style="background-color: #4b0082; color: #fff"
          >
            Get OTP
          </button>

          <button class="btn ml-4" style="background-color: #4b0082">
            <a style="color: #fff" routerLink="/login">Back to Login</a>
          </button>
        </div>
        <div *ngIf="successmsg" class="p-3 mb-2 bg-success text-white">
          Password sent to your mail
        </div>
        <div *ngIf="errormsg" class="p-3 mb-2 bg-danger text-white">
          Username or Email is not correct
        </div>
      </form>
    </div>
  </div>
</div>
