<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> person </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <!-- <img src="assets\TweetMsg.png"/> -->
  <div class="row">
    <div class="column">
      <div class="icon-text">
        <button mat-button class="menu-button" routerLink="/home">
         
          <span class="name" style="color: #fff">   Home</span>
        </button>
      </div>
    </div>
    <div class="column" style="display: flex; justify-content: flex-end">
      <div class="icon-text" style="display: flex; justify-content: flex-end">
        <button mat-button class="menu-button">
          <mat-icon>table_rows</mat-icon>
          <span class="name"
            ><a routerLink="tweets/all" style="color: #fff">Tweets</a></span
          >
        </button>
      </div>
    </div>
    <div class="column" style="display: flex; justify-content: flex-end">
      <div class="icon-text" style="display: flex; justify-content: flex-end">
        <button mat-button class="menu-button">
          <mat-icon>groups</mat-icon>
          <span class="name"
            ><a routerLink="user-list" style="color: #fff">Users</a></span
          >
        </button>
      </div>
    </div>
    <div class="column" style="display: flex; justify-content: flex-end">
      <div class="icon-text" style="display: flex; justify-content: flex-end">
        <button mat-button class="menu-button">
          <mat-icon>search</mat-icon>
          <span> <a routerLink="search-user">Search User</a></span>
        </button>
      </div>
    </div>

    <div class="column" style="display: flex; justify-content: flex-end">
      <div class="icon-text" style="display: flex; justify-content: flex-end">
        <button mat-button class="menu-button">
          <mat-icon>https</mat-icon>
          <span>
            <a routerLink="passwordReset/{{ currentUser.username }}"
              >Reset Password</a
            ></span
          >
        </button>
      </div>
    </div>

    <div class="column" style="display: flex; justify-content: flex-end">
      <div class="icon-text" style="display: flex; justify-content: flex-end">
        <button mat-button class="menu-button">
          <mat-icon>logout</mat-icon>
          <span>
            <a routerLink="logout" (click)="doLogOut()" aria-hidden="true"
              >Logout</a
            ></span
          >
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <h6>Account Info</h6>
    <img class="avatar mat-elevation-z8" src="../../assets/profile.png" />
    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span class="name"
        >{{ currentUser.firstName }} {{ currentUser.lastName }}</span
      >
    </button>
    <button mat-button class="menu-button">
      <mat-icon>@</mat-icon>
      <span class="name">{{ currentUser.username }}</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>phone</mat-icon>
      <span class="name">+91 {{ currentUser.contactNumber }}</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>email</mat-icon>
      <span class="name">{{ currentUser.email }}</span>
    </button>
    <mat-divider></mat-divider>

    <!-- <button mat-button class="menu-button">
      <mat-icon>https</mat-icon>
      <span>
        <a routerLink="passwordReset/{{currentUser.username}}">Reset Password</a></span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>logout</mat-icon>
      <span>
        <a routerLink="logout" (click)="doLogOut()" aria-hidden="true">Logout</a></span>
    </button> -->
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

  <mat-sidenav-container>
    <!-- container
      sidenav [sidenav]
        content  [Main] --></mat-sidenav-container
  ></mat-sidenav-container
>
